<h2 mat-dialog-title>
    <i class="fa fa-users"></i> {{ title }}
</h2>

<div mat-dialog-content>
    <form [formGroup]="form" (ngSubmit)="save()" autocomplete="off" mat-dialog-content>
        <div fxLayout='row' fxLayout.sm="column" fxLayout.xs="column" fxLayoutGap="16px">
            <div fxFlex>
                <mat-form-field class="form-input">
                    <input matInput placeholder="Name*" formControlName="name">
                </mat-form-field>
            </div>
        </div>
    </form>
</div>

<div mat-dialog-actions>
    <button mat-raised-button (click)="save()" class="mat-button mat-primary" [disabled]="isLoading">{{ isLoading? 'Loading...' : 'Save' }}</button>
    <a mat-button (click)="close()">Close</a>
</div>