/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    color: #424242;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.hidden {
    visibility: hidden;
}


/* Text styles */

.text-center {
    text-align: center !important;
}

.green-text {
    color: #398439;
}

.red-text {
    color: #dc3545;
}

.form-input {
    width: 100%;
}


/* pulse anmiation */

.pulse {
    box-shadow: 0 0 0 0 rgba(255, 64, 129, 1);
    animation: pulse 1.5s infinite;
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 rgba(255, 64, 129, 0.7);
    }
    70% {
        box-shadow: 0 0 0 20px rgba(255, 64, 129, 0);
    }
    100% {
        box-shadow: 0 0 0 0 rgba(255, 64, 129, 0);
    }
}


/*Float fab button */

.float-fab {
    z-index: 10;
    position: fixed;
    right: 30px;
    bottom: 15px;
}

.float-fab>.fab-button {
    font-size: 1.2em;
}

table {
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.12);
}

.highlight {
    cursor: pointer;
}

.highlight tr:hover {
    background-color: #eeeeee;
}

@media (min-width: 768px) {
    .container {
        margin: auto;
        max-width: 1280px;
        width: 70%;
    }
}