<div class="cards-container">
    <mat-card *ngFor="let task of tasks" class="task-card" (click)="openModal(task.id)">
        <div class="task-date">
            <i class="fa fa-clock"></i> {{ task.created_at | date: 'yyyy-MM-dd H:s'}}
        </div>
        {{ task.description }}
    </mat-card>
</div>

<br>
<br>
<div class="float-fab" *ngIf="!isLoading">
    <button mat-fab color="accent" class="fab-button" [ngClass]="{'pulse': dataSource == null || dataSource.length == 0}" (click)="openModal()">
        <i class="fa fa-plus"></i>
    </button>
</div>