.drawer-container {
    position: absolute;
    top: 64px;
    bottom: 0;
    left: 0;
    right: 0;
    background: #eee;
}

@media(max-width: 599px) {
    .drawer-container {
        top: 56px;
    }
}

.sidenav {
    width: 280px;
}

.fa-icon {
    margin-right: 10px;
}

.mat-list-base {
    padding-top: 0;
}

.mat-list-item-active {
    background-color: #e0e0e0;
}

@media (max-width: 767.98px) {
    .cards-containers {
        margin-top: 56px;
    }
}

.toolbarNav {
    position: fixed;
    top: 56px;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    padding: 1em;
    background-color: white;
}