.drawer-container {
    position: absolute;
    top: 64px;
    bottom: 0;
    left: 0;
    right: 0;
    background: #eee;
}

@media(max-width: 599px) {
    .drawer-container {
        top: 56px;
    }
}

.sidenav {
    width: 280px;
}

.fa-icon {
    margin-right: 10px;
}

.mat-list-base {
    padding-top: 0;
}